<div style="margin-left:10%;margin-right:10%">
	<h4>
			Термы и кондиции:</h4>
	<div>
		Настоящее пользовательское соглашение регулирует отношения между компанией ОАО Ретард, зарегистрированной
		на банановых островах и Вами &ndash; конченым пользователем.&nbsp;</div>
	<div>
		&nbsp;</div>
	<div>
		1. Термины, используемые в настоящем Соглашении&nbsp;</div>
	<div>
		1.1. Аккаунт &ndash; создаваемая Пользователем учетная запись Пользователя, которая представляет собой хранимые на Ресурсах
		данные о Пользователе.&nbsp;</div>
	<div>
		1.2 Пользователь &ndash; физическое лицо, обладающее необходимой дееспособностью и психической устойчивостью для использования
		ресурса.&nbsp;</div>
	<div>
		1.3 Ресурс &ndash; набор букв на компьютере Администрации&nbsp;</div>
	<div>
		1.4. Администрация &ndash; владельцы Ресурса. Пьяная ватага девелоперов, имеющих слишком много свободного времени.&nbsp;</div>
	<div>
		1.5 Правила - документ, устанавливающий правила участия и поведения Пользователя на Ресурсе, за нарушение Правил Ресурса
		Пользователь обязан сообщить по адресу: Москва, Кропоткинский переулок, дом 23.&nbsp;</div>
	<div>
		&nbsp;</div>
	<div>
		2. Условия&nbsp;</div>
	<div>
		2.1. Перед тем начать использовать Ресерс, Пользователь обязан ознакомиться и принять условия Соглашения, а также условия
		следующих документов: Политика Конфиденциальности, Конституция Российской Федерации, Уголовный кодекс 1891 года.&nbsp;</div>
	<div>
		2.2. Настоящее Соглашение заключается в момент принятия Пользователем решение принять настоящее Соглашение как принятое.
		Пользователь принимает на себя обязательство соблюдать условия настоящего Соглашения с момента заключения Соглашения.&nbsp;</div>
	<div>
		3. Соглашения&nbsp;</div>
	<div>
		3.1.В соответствии с настоящим Соглашением Петушатник предоставляет Пользователю право на использование Ресурса в объеме,
		способами, на срок и в пределах территории, в зависимости от желаний администрации.&nbsp;</div>
	<div>
		3.2. Пользователь вправе использовать Ресурс в пределах ее базового функционала на безвозмездной основе, а также вознаграждать
		администрацию по доброй воле или в принудительном порядке по желанию администрации.&nbsp;</div>
	<div>
		4. Обязанности Пользователя&nbsp;</div>
	<div>
		4.1. Соблюдать условия настоящего Соглашения и предоставлять свое тело в качестве необходимого Ресурса в случае запроса Администрации.&nbsp;</div>
	<div>
		4.2. В момент создания Аккаунта указывать соответствующую действительности информацию, в том числе размер груди и длина полового
		члена. Мы не гарантируем вашу конфиденциальность.&nbsp;</div>
	<div>
		4.3. Возместить админам или другим пользователям Игры и (или) иным третьим лицам любые убытки, возникшие у них в связи с
		действиями Пользователя, в том числе оказать сексуальные услуги.</div>
	<div>
		&nbsp;</div>
	<div>
		5. Правила&nbsp;</div>
	<div>
		5.1. Основными правилами Ресурса запрещена пропаганда гомосексуализма и его распространение в любой форме.&nbsp;</div>
	<div>
		5.2. Строго запрещена пропаганда контрацептивов любых производителей. Так же использование и проведение оных для любых целей
		связанных с сексуальными девиациями. Использование контрацептивов в других случаях не запрещена.&nbsp;</div>
	<div>
		5.3. Запрещена пропаганда аботов и незаконно проведение на территории Ресурса. Жертвам аборта предоставляется моральная поддержка
		и VIP аккаунт до девяти месяцев.&nbsp;</div>
	<div>
		5.4. Свобода слова ограничена настроением администратора. Свобода вероисповедания ограничена православием головного мозга.&nbsp;</div>
	<div>
		5.5. Сайт поддерживает развитие русской речи, и строго запрещает использовать нецензурную лексику разжигать национальные
		распри, расизм и негров.&nbsp;</div>
	<div>
		5.6. Каждый Пользователь обязан предоставлять сексуальные услуги по первому требованию администрации. Выезд на место проживание
		администрации оплачивается дополнительными возможностями Ресурса.&nbsp;</div>
	<div>
		5.7. Сайт запрещено посещать Президенту или Министру Сельского хозяйства стран наложивших на Россию.&nbsp;</div>
	<div>
		Списки имен и IP адресов нарушителей вышеперечисленных Правил будут преданы анафеме и переданы православной церкви.</div>
	<br>
	<md-button style="float: right" class="md-primary md-raised" ng-click="hide()">

		Да
	</md-button>

	<md-button style="float: left" class="md-warn md-raised" aria-label="Favorite" ng-click="hide()">
		Я согласен
	</md-button>
</div>