<md-list-item md-ink-ripple ng-click="send()" ng-if="sideMenu">
    <md-icon class="" md-svg-icon="core:logout-variant" aria-label="Home page"></md-icon>
    <p> Выписаться </p>
</md-list-item>
<md-button class="md-icon-button hide show-gt-sm" aria-label="Logout" ng-if="!sideMenu" ng-click="send()" >
    <md-icon md-svg-icon="core:logout-variant" style="color: white;"></md-icon>
    <md-tooltip md-direction="bottom">
        Выписаться
    </md-tooltip>
</md-button>