<form name="form" layout="column" class="registration-form" novalidate ng-submit="form.$valid && login.submit()" >
    <!--User Name-->
	<md-input-container md-no-float>
		<input type="text" name="profilename" placeholder="Имя Использователя" ng-model="user.name" minlength=5" maxlength="25" required ng-model-options="{ updateOn: 'blur' }"/>
		<div ng-messages="form.profilename.$error" multiple md-auto-hide="false" ng-show="form.profilename.$touched">
			<div ng-message="required" ng-if="form.$dirty && form.profilename.$touched">
				Будем звать тебя "Эй, как тебя там?!" на первое время
			</div>
			<div ng-message="minlength">
                Нр стесняйся, возми имя подлиннее!
			</div>
            <div ng-message="maxlength">
               А шланг то у тебя такой же длинный?
            </div>
		</div>
	</md-input-container>
    <!--E-mail-->
    <md-input-container md-no-float>
        <input type="text" name="email" placeholder="Ё-маил" ng-model="user.email" required ng-model-options="{ updateOn: 'blur' }" ng-pattern="emailPattern"/>
        <!--ng-if="form.username.$dirty"-->
        <div ng-messages="form.email.$error" multiple md-auto-hide="false" ng-show="form.email.$touched">
            <div ng-message="pattern" ng-show="!form.email.$valid && form.email.$dirty">
                Я не верю что ето настояший маил!
            </div>
        </div>
    </md-input-container>
    <!--Weird Characters-->
    <md-input-container md-no-float>
        <input type="password" name="password" placeholder="Пароль" ng-pattern="passwordPattern" ng-model-options="{allowInvalid: true,debounce: 500}"
        ng-model="user.password" ng-change="change()" required/>
        <div ng-messages="form.password.$error" multiple md-auto-hide="false" ng-show="form.password.$touched">
            <div ng-message="pattern" ng-show="!form.password.$valid && form.password.$dirty">
                Пароль хотел бы иметь хотя быпо одной цифре, заглавной и маленькой букве, а еше иметь 8 символов
            </div>
            <div ng-message="required" ng-if="form.$dirty && form.password.$touched">
                Не стесняйся, это просто, всего лишь 8 символов.
            </div>
        </div>
    </md-input-container>
    <!--More Weird Characters-->
    <md-input-container md-no-float>
	    <input type="password"  name="password2" placeholder="Больше Паролей!" ng-model="user.password2"
	        ng-change="change()" ng-model-options="{ debounce: 500 }" required/>
        <div ng-messages="form.password2.$error" ng-show="form.password2.$touched">
            <div ng-message="Confirm">
                Пароли слишком разные!
            </div>
        </div>
    </md-input-container>
    <!-- Actions -->
    <div layout="column">
        <div layout="column">
            <md-checkbox name="homo" aria-label="Homo" flex ng-model="user.normal" ng-change="form.homo.$setValidity('normal',user.normal)" style="margin: 0;">
                im not gay
            </md-checkbox>
            <md-checkbox name="TnC" aria-label="TnC" flex ng-model="user.tnc" ng-change="form.homo.$setValidity('tnc',user.tnc)" style="margin: 0;">
                Я согласен с <span style="color:blue;" ng-click="rapeCommonSense()"> Термами и Кондициями </span>
            </md-checkbox>
        </div>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" type="submit" ng-disabled="form.$invalid" ng-click="send(user)">Спасти и сохранить</md-button>
        </md-card-actions>
    </div>
 </form>