<md-list-item class="md-3-line" ng-click="null">
	<user-avatar></user-avatar>
	<!--<img ng-src="{{model.face}}?{{model.$index}}" class="md-avatar" alt="{{model.author}}" />-->
	<div class="md-list-item-text" layout="column">
		<b ng-click="openUser(model.author)" >{{model.author}}</b>
		<h4>{{model.createdAt | date:"MM/dd/yyyy @ HH:mm"}}</h4>
		<p style = "font-size: 2em">
			{{model.content}}
		</p>
	</div>
</md-list-item>
<md-divider hide-sm ng-if="!model.$last"></md-divider>
<md-divider hide-gt-sm ng-if="!model.$last"></md-divider>
