<div class="app-banner" flex style="width: 100%;height: 100%;background-position: center center;" layout="row" layout-align="center center">
	<img ng-if="isImage" src="{{bannerImage}}" style="{{bannerImageStyle}}"/>
	<div class="content" flex ng-transclude></div>
</div>