<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button hide-gt-sm" aria-label="Settings" ng-click="toggleSidenav('left')">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <md-button ng-click="goBack();">Взад</md-button>
        <span flex="10"></span>
        <img src="{{cock}}">
        <h2>
            <span style="margin:10px;">Petushatnik</span>
        </h2>
        <span flex></span>
        <md-button class="hide show-gt-sm" ng-click="navigateTo('/');cancel();" md-autofocus ng-if="!neverTryAtHome.isLoggedIn">
            Home
        </md-button>
        <md-button class="hide show-gt-sm" ng-click="navigateTo('feed');cancel();" md-autofocus ng-if="neverTryAtHome.isLoggedIn">
            Feed
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button hide show-gt-sm" aria-label="Create Post" ng-if="neverTryAtHome.isLoggedIn" ng-click="createPost($event)" >
            <md-icon md-svg-icon="img/icons/launch.svg" style="color: greenyellow;"></md-icon>
        </md-button>

        <md-button class="md-warn md-raised hide show-gt-sm" ng-click="getHooked($event)" ng-if="!neverTryAtHome.isLoggedIn">
            Get Hooked
        </md-button>
        <logout-directive class="hide show-gt-sm" ng-if="neverTryAtHome.isLoggedIn"></logout-directive>
        <md-button class="md-icon-button hide" ng-click="debug('LoggedIn:',isLoggedIn);" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
		
		<md-button class="md-primary" class="hide show-gt-sm" ng-click="rapeCommonSense()" >
			T&C
        </md-button>

        <span flex="5"></span>
    </div>
</md-toolbar>